<% include partials/user_header %>


<link rel="stylesheet" href="/css/cards.css">

<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

<script type="text/javascript" src=" /js/card_update.js"></script>


<!-- <div class="ui two column centered grid">-->
  <form class="" action="/categories/<%=category._id%>/play" method="post">
    <div class="ui container">
      <% deck.forEach(function(card){%>
        <div class="flip">
          <div class="front">
            <p><%=card.question%></p>
          </div>
          <div class="back">
            <p><%=card.answer%></p>

            <!-- The correct checkbox will be used to reclassify the Cards in the
            post request. The hidden input bearing the same name is used to
            give the checkbox a default value of "off" so that the server does
            not throw an error for trying to read an unexisting value. -->
            <input type="hidden" name="<%=card._id%>" value="off">
            <!-- Putting the checkbox in a label allows us to activate the checbox by
            clicking the label -->
            <label><input type="checkbox" name="<%=card._id%>" value="correct">Correct</label>

            <!-- The incorret checkbox is only present for aesthetic and as a
            for front end card cycling. -->
            <label><input type="checkbox" name="<%=card._id%>" value="incorrect">Incorrect</label>

          </div>
        </div>
      <%});%>
        <div class="flip">
          <div class="front">
            <a class="ui button" href="/categories">Finish for Today</a>
          </div>

        </div>
      </div>
    </form>
<% include partials/footer %>
